---
layout: tutorial
---
<div class='flash-notice'>
  This is part of a larger tutorial created and presented as <a href="{% post_url 2016-06-07-a-walkthrough-of-geoconcerns %}">"Walkthrough of GeoConcerns"</a>.
</div>

<hr>
{{ content }}
<hr>


<ul class='unstyled toc'>
  <li>
    <a href="{% post_url 2016-06-07-a-walkthrough-of-geoconcerns %}">Introduction</a>
  </li>
  <li>
    <a href="{% post_url 2016-06-07-geo-concerns-overview %}">Part 1 - GeoConcerns overview</a>
  </li>
  <li>
    <a href="{% post_url 2016-06-07-setting-up-your-environment %}">Part 2 - Setting up your environment</a>
  </li>
  <li>
    <a href="{% post_url 2016-06-07-starting-the-application %}">Part 3 - Starting the application</a>
  </li>
  <li>
    <a href="{% post_url 2016-06-07-create-a-scanned-map %}">Part 4 - Create a scanned map</a>
  </li>
  <li>
    <a href="{% post_url 2016-06-07-create-a-collection %}">Part 5 - Create a collection</a>
  </li>
  <li>
    <a href="{% post_url 2016-06-07-create-a-raster-work %}">Part 6 - Create a raster work</a>
  </li>
  <li>
    <a href="{% post_url 2016-06-07-create-a-vector-work %}">Part 7 - Create a vector work</a>
  </li>
</ul> 
<hr>

<div class='license-block'>
  <div>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </div>
</p>
